body {
    font-family: "Open Sans";
    font-size: 1.7em;
    background-color: #4cae4c;
    color: #fefefe;
}

.navbar {
    list-style-type: none;
    margin: 0;
    font-family: "Open Sans";
    font-size: 1em;
    background-color: transparent;
    border: 0;
}

.navbar-header>.navbar-toggle:focus, .navbar-header>.navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle {
    border: 0;
    margin: 0;
}

.navbar-default .navbar-brand {
    color: #efefef;
}

.navbar-default .navbar-brand:hover {
    color: #fefefe;
}

.navbar-default .navbar-nav>li>a {
    color: #efefef;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fefefe;
}

.navbar-toggle .collapsed:hover {
    color: transparent;
}

.navbar .navbar-nav .navbar-right {
    background-color: #333333;
}

.collapsing, .in {
    border: 0;
    background-color: #333333;
}

.collapsing ul li a, .in ul li a {
    color: #efefef;
}

li {
    padding: 1em;
}

a {
    text-decoration: none;
    color: #fefefe;
}

h1, h2, h3 {
    font-family: "Alegreya Sans";
}

#name {
    font-family: "Alegreya Sans", sans-serif;
    padding: 1em;
}

.img-circle {
    max-width: 150px;
    padding: 10px;
}

#display {
    font-family: Avenir,"Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 30vh 20px 0 20px;
    color: #111111;
}

@media (max-width:800px) {
    #name {
        font-family: "Alegreya Sans", sans-serif;
        padding: 0.3em;
    }

    .img-circle {
        max-width: 100px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}

#front {
    background-color: #4cae4c;
    min-height: 95vh;
}

#about {
    background-color: #9c4c4b;
    min-height: 100vh;
    padding: 10px;
    color: #B9CFEF;
}

#projects {
    background-color: #494b91;
    min-height: 100vh;
    padding: 30px;
}

#projects h3 {
    color: #c6ee84;
}

#contact {
    background-color: #4db34d;
    min-height: 100vh;
    padding: 10px;
}

#contact h1 {
    color: #333333;
}

#contact form {
    color: #efefef;
}

#footer {
    background-color: #333333;
    border-top: 1px solid #eeeeee;
}

#copyright-info {
    font-family: "Alegreya Sans";
    font-size: 20px;
    padding: 10px;
}

.fa {
    color: #eeeeee;
}

.fa:after {
    content: "\00a0";
}

.webpage-design-info {
    color: transparent;
    font: 12px "Alegreya Sans";
}

.webpage-design-info:hover {
    color: #efefef;
}